<% provide(:title, 'About') %>
<h1>AboutUs</h1>
<%= link_to image_tag("kris-glass-profile.jpg", alt: "Kris"), 'http://rubyonrails.org/' %>
<p><a href="mailto:webmaster@example.com">Kris Sunil Magnti</a>,CEO, is a technology enthusiast and a yogi that believes in making the world a better place.
  He has over 16 years expeience working at Verizon and Milyoni.com where he built world class products using his skills in Java, Ruby on Rails, Node.js, Android and iOS technologies.
  He has a Masters in Computer Science from University of South Florida.
  His current endeavor is to build cool mobile apps that are useful to people around the world.</p>
<%= link_to image_tag("ben_profile_pic.jpg", alt: "Ben"), 'http://rubyonrails.org/' %>
<p><a href="mailto:webmaster@example.com">Benjamin Holland</a>,CTO, is an Android ninja with a Bachelors from Manchester Metropolitan University.
  He has a passion to build the right technology solution with meticulous attention to detail.
  His current endeavor is to build cool mobile apps that are useful to people around the world.</p>
<p>We make the magic happen with some very talented designers, advisors and engineers.</p>
<p>Kvana World Headquarters:<br>
  88 Howard Street, Suite # 815 , San Francisco, CA 94105. Phone#: 4156751239</p>
<p>Kvana United Kingdom Office: <br>
  7 Murton Terrace, BOLTON, Lancs BL1 8QP, United Kingdom. Phone#: 07722590247</p>
<p>Kvana India Office: <br>
  201 Vishnu Meadows, Road # 3, Banjara Hills, Hyderabad, AP 500026. Phone#: 9848629449</p>