<% provide(:title, 'ContactUs') %>

<div class="contact" >ContactUs</div>
<!--<h1>ContactUs</h1>-->
<p class="contact1">Kvana World Headquarters:<br>
  88 Howard Street, Suite # 815 , San Francisco, CA 94105. Phone#: 4156751239<br>
Kvana United Kingdom Office: <br>
  7 Murton Terrace, BOLTON, Lancs BL1 8QP, United Kingdom. Phone#: 07722590247<br>
Kvana India Office: <br>
  201 Vishnu Meadows, Road # 3, Banjara Hills, Hyderabad, AP 500026. Phone#: 9848629449</p>

<!--<hr style="border: 3px outset #e8e8e8;">-->

<p class="contact2">For Further Contacts EmailUs At: <br>
 <a href="mailto:webmaster@example.com">Kris Sunil Magnti</a>,CEO<br>
   <a href="mailto:webmaster@example.com">Benjamin Holland</a>,CTO
</p>