<% provide(:title, 'ContactUs') %>

<h1 style="background-color:lightskyblue;">ContactUs</h1>
<!--<h1>ContactUs</h1>-->
<p>Kvana World Headquarters:<br>
  88 Howard Street, Suite # 815 , San Francisco, CA 94105. Phone#: 4156751239</p>
<p>Kvana United Kingdom Office: <br>
  7 Murton Terrace, BOLTON, Lancs BL1 8QP, United Kingdom. Phone#: 07722590247</p>
<p>Kvana India Office: <br>
  201 Vishnu Meadows, Road # 3, Banjara Hills, Hyderabad, AP 500026. Phone#: 9848629449</p>

<hr style="border: 3px outset #e8e8e8;">

<p>For Further Contacts EmailUs At: <br>
 <a href="mailto:webmaster@example.com">Kris Sunil Magnti</a>,CEO<br>
   <a href="mailto:webmaster@example.com">Benjamin Holland</a>,CTO