<!--<h1>Kvana#home</h1>-->
<!--<p>Find me in app/views/kvana/home.html.erb</p>-->
<% provide(:title, 'Home') %>
<%= link_to image_tag("kvana_logo.png", alt: "Kvana"), 'http://rubyonrails.org/' %>

<hr style="border: 3px outset #e8e8e8;">
