


<div class="center hero-unit">
  <%= link_to image_tag("kvana_logo.png", alt: "Kvana"), 'http://rubyonrails.org/' %>
  <!--<img border="0" src="/images/kvana_logo.png"  width="304" height="228">-->

</div>