@import "bootstrap";
/*

	01. Key Frames & Font Face
	02. Generals Settings
	03. Header Section Settings
	04. Container Section Settings
	05. Sign Up Section Settings
	06. Footer Section Settings#343c47
	07. Media Queries for Mobile Settings
	08. Media Queries for iPad/Tablet Settings

*/



/* universal */
html {
  overflow-y: scroll;
}

body {
    padding-top: 0px;
  padding-bottom: 0px;
  }
body .modal{
    width: 80%;
     margin-left:12 ;
    }

section {
    overflow: auto;
  }

textarea {
    resize: vertical;
  }

.center {
  text-align: center;
 }

.center h1 {
    margin-bottom: 10px;
  }

.separator {
   margin: 0;
    padding: 0;
    display: block;
 }




/* 01. FONT FACE ================================================== */


@font-face {
    font-family: 'latoregular';
    src: url('../fonts/lato/Lato-Regular.eot');
    src: url('../fonts/lato/Lato-Regular.eot?#iefix') format('embedded-opentype'),
    url('../fonts/lato/Lato-Regular.woff') format('woff'),
    url('../fonts/lato/Lato-Regular.ttf') format('truetype'),
    url('../fonts/lato/Lato-Regular.svg#latoregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'latolight';
    src: url('../fonts/lato/Lato-Light-webfont.eot');
    src: url('../fonts/lato/Lato-Light-webfont.eot?#iefix') format('embedded-opentype'),
    url('../fonts/lato/Lato-Light-webfont.woff') format('woff'),
    url('../fonts/lato/Lato-Light-webfont.ttf') format('truetype'),
    url('../fonts/lato/Lato-Light-webfont.svg#latolight') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'latobold';
    src: url('../fonts/lato/Lato-Bold-webfont.eot');
    src: url('../fonts/lato/Lato-Bold-webfont.eot?#iefix') format('embedded-opentype'),
    url('../fonts/lato/Lato-Bold-webfont.woff') format('woff'),
    url('../fonts/lato/Lato-Bold-webfont.ttf') format('truetype'),
    url('../fonts/lato/Lato-Bold-webfont.svg#latobold') format('svg');
    font-weight: normal;
    font-style: normal;

}




/* 02. GENERALS SETTINGS ================================================== */



/* Selected text Color */

::-moz-selection{background:#6ec5e2;color:white}
::selection{background:#6ec5e2;color:white}


body, html {
    width:100%;
    height: 100%;
    min-height: 100%;
    background-color:#FFF;
    position:absolute;
    top:0px;
    left:0px;
    bottom:0px;
    font-family: 'latoregular', sans-serif; }

.centered {text-align: center;}

.clear {padding: 10px 0;}

b { font-family: 'latoregular', sans-serif;}

h1 {
    font-family: 'latolight', sans-serif;
    margin: 0.75em 0.75em 0.25em 0em;
    font-size:2.70em;
/*width: 100%;*/
    margin-top: 0px;
}

h2 {
    font-size:2.70em;
    line-height: 1.3em;
    font-family: 'latolight', sans-serif;
    margin-top: 0.15em;
    margin-left: 70px;
/*text-align: center;*/
}

h3 {
    color: #647385;
    font:2.2em 'latolight', sans-serif;
    padding-bottom: 25px;
    padding-top: 0px;
    margin-left: 70px;
}




/* Link */

a {
    color: #647385;
    text-decoration: none;
    margin-left: 70px;
}

a:hover {
    color: #34495e;
}

/* Paragraph */

p {
    color: #9DA5AF;}

p a {
    color:#647385;
    border-bottom: 1px dotted #888;
    -webkit-transition: all 0.5s ease-out;
    -moz-transition: all 0.5s ease-out;
    -o-transition: all 0.5s ease-out;
    transition: all 0.5s ease-out;}

p a:hover {
    color:#34495e;
}

p.centered-text {
    text-align:center;
}

/* Button */

.button {
    border: 3px solid rgba(255, 255, 255,0.5);
    color: #FFFFFF;
    font-family: 'latolight', sans-serif;
    text-transform: uppercase;
    padding:15px 20px;
    font-size: 16px;
    min-width: 150px;
    line-height: 90px;
    text-align: center;}

.button:hover {
    background: #1abc9c;
    border: #1abc9c;
    color:#FFF;
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -ms-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;}

.appstore {
    background: url('https://linkmaker.itunes.apple.com/htmlResources/assets/en_us//images/web/linkmaker/badge_appstore-lrg.png') no-repeat;
    width: 135px;
    height: 40px;
    display: inline-block;
    margin-top: 1em;
    margin-left: 100px;

}

/* FOR FADING : DON'T REMOVE IT */

.fade1,.fade2,.fade3,.fade4{
    display:none;
}


#loading {
    background: #363f48;
    height: 100%;
    position: fixed;
    width: 100%;
    z-index: 9999;
}
#loading img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    top: 10%;
}



/**************about**************/
.about
{
    /*float: right;*/
    text-align: left;
    font-size: 30px;
    margin-left: 70px;
    margin-bottom: 20px;
    /*padding-bottom: 200px;*/
}

/**********contact***************/
.contact
{
    text-align: left;
    font-size: 30px;
    margin-left: 70px;
    margin-bottom: 20px;
    /*border-bottom: 3px solid #e8e8e8;*/
}
.contact1
{
    margin-left: 70px;
}
.contact2
{
    padding-bottom: 370px;
    margin-left: 70px;
}

/********ourprojects***********/
.ourprojects
{
    text-align: left;
    font-size: 30px;
    margin-left: 70px;
    margin-bottom: 20px;
}
.privacyterms
{
    text-align: left;
    font-size: 30px;
    margin-left: 70px;
    margin-bottom: 20px;
    /*padding-bottom: 50px;*/
}

.terms
{
    padding-bottom: 570px;
    margin-left: 30px;
}


/******* contents ***********/
#content1{
padding-top: 20px;
  border-top: 3px solid #e8e8e8;
    padding-bottom: 5px;
    margin-bottom: 110px;
}
#content2
{
  padding-top:650px;
    margin-right: 150px;
    margin-bottom: 110px;
    padding-bottom: 50px;
}
/*#content3*/
/*{*/
  /*padding-top: 820px;*/
    /*margin-bottom: 50px;*/
/*}*/
#content4
{
  padding-top: 550px;
  padding-bottom: 50px;
    margin-bottom: 20px;
}



/* 03. HEADER SECTION ================================================== */

#kvana
{
float: left;
   margin-left: 10%;
    margin-top: 15px;
    font-size: 35px;
color: #ffffff;

  /*color: #ffffff;*/

}
#navicons
{
    float: right;
    position: relative;
    padding-left: 0px;
    padding-right: 0px;
    /*margin-left: 0px ;*/
    /*margin-right: 0px;*/

}



/* Header Generals  */
.chef {
    position:absolute;
    right:3em;
}

#header {
    width:100%;
    height:60%;
    min-height: 550px;
    color:#FFF;
    margin-top: 0px;
    background-image:url('http://blog.gettyimages.com/wp-content/uploads/2013/01/Siberian-Tiger-Running-Through-Snow-Tom-Brakefield-Getty-Images-200353826-001.jpg');
    /*background-color: yellow;*/
    background-repeat:repeat-y;
    /*background-color:#159b83;*/
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-attachment : fixed;  /* FIXED FOR IE */}

#header .logo {
    margin-top: 2%;
}

#header h2 {
    padding:0;
}

/* Picture on Header Don't touch  */

#header .picture {
    top: 0;
    padding:0px;
    margin: 0px;
    position: relative;
    z-index: 3;
}



/* 04. CONTAINER SECTION ================================================== */



/* Container  */

.container {
    z-index: 999; /* IMPORTANT*/
    position: relative;
    background: #FFF;
}


.cbp-so-scroller {
    	/*overflow: hidden;*/
}


/* Clear floats of children */
.cbp-so-section:before,
.cbp-so-section:after {
    content: " ";
    display: table;
}

.cbp-so-section:after {
    clear: both;
}

.cbp-so-section:first-child {
    margin-top:25px;
}

/* Sides */
.cbp-so-side {
    width: 100%;
    margin: 0;
    padding: 3em 2%;
    overflow: hidden;
    -webkit-transition: -webkit-transform 0.5s, opacity 0.5s;
    -moz-transition: -moz-transform 0.5s, opacity 0.5s;
    transition: transform 0.5s, opacity 0.5s;
}

.cbp-so-side-img {
    width: 100%;
    margin: 0;
    padding: 2em 2%;
    overflow: hidden;
    -webkit-transition: -webkit-transform 0.5s, opacity 0.5s;
    -moz-transition: -moz-transform 0.5s, opacity 0.5s;
    transition: transform 0.5s, opacity 0.5s;
}


/* Clear floats of children */
.cbp-so-side:before,
.cbp-so-side:after {
    content: " ";
    display: table;
}

.cbp-so-side:after {
    clear: both;
}

.cbp-so-side-right {
    text-align: left;
}

.cbp-so-side-left {
    text-align: left;
}

.cbp-so-side-right img {
    float: left;
}

.cbp-so-side-left img {
    float: right;
}

/* Initial state (hidden or anything else) */
.cbp-so-init .cbp-so-side {
    opacity: 0;
}

.cbp-so-init .cbp-so-side-left {
    -webkit-transform: translateX(-80px);
    -moz-transform: translateX(-80px);
    transform: translateX(-80px);
}

.cbp-so-init .cbp-so-side-right {
    -webkit-transform: translateX(80px);
    -moz-transform: translateX(80px);
    transform: translateX(80px);
}

/* Animated state */
/* add you final states (transition) or your effects (animations) for each side */
.cbp-so-section.cbp-so-animate .cbp-so-side-left,
.cbp-so-section.cbp-so-animate .cbp-so-side-right {
    -webkit-transform: translateX(0px);
    -moz-transform: translateX(0px);
    transform: translateX(0px);
    opacity: 1;}

/* For example, add a delay for the right side:
.cbp-so-section.cbp-so-animate .cbp-so-side-right {
	-webkit-transition-delay: 0.2s;
	-moz-transition-delay: 0.2s;
	transition-delay: 0.2s;
}
*/



/* 05. SIGN UP SECTION ================================================== */



/* Sign up General */

#signup {
    background: #159b83;
    color: #FFF;
    padding: 60px 0 80px 0;
    margin-top:25px;
    font-family: 'latoregular', sans-serif;}


form {overflow: hidden;}


/* Signup Title */

#signup h2.now-available {
    padding:0 0 15px 0;
}

#signup p {
    color: #fff;
    margin-bottom: 20px;
}
#signup form {
    margin-top: 30px;
}
/*#signup a.map {*/
    /*color: #363f48;*/
/*}*/
/*#signup a.map:hover {*/
    /*color: #647385;*/
    /*color: #4a5661;*/
/*}*/
/* Mail Input Send */

#signup input {
    font-family: 'latoregular', sans-serif;
    -moz-transition:all .3s ease-in-out;
    -ms-transition:all .3s ease-in-out;
    -o-transition:all .3s ease-in-out;
    -webkit-transition:all .3s ease-in-out;
    border: none;
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.05) inset;
    border-radius: none;
    color: #333;
    height:55px;
    resize: vertical;
    font-size:13px;
    margin-bottom: 15px;
    letter-spacing:1px;
    padding: 9px 10px 8px;
    transition:all .3s ease-in-out;
    width:70%;
}

/* Button Send */

#signup .submit{
    height:55px;
    width: 100px;
    font-family: 'latolight', sans-serif;
    letter-spacing:1px;
    float: right;
    display: block;
    border: none;
    cursor: pointer;
    font-size: 16px;
    color:#FFF;
    background:none;
    border: 1px solid #FFF;
    -webkit-appearance:none;
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -ms-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
}

/* Button Send Hover */

#signup .submit:hover{
    color:#f27c29;
    background: #FFF;
    cursor:pointer;
}

/* Promise we do not spam */

#signup .spam {
    padding:21px 0 0 0;
    font-family: 'latolight', sans-serif;
    color: #FFF;
}

/* Message if it's ok */

#signup .msg-ok {
    font-family: 'latolight', sans-serif;
    color: #FFF;
}

#signup .map-title {
    margin: 0;
    background-color: #159b83;
    color: #fff;
}


/* 06. FOOTER SECTION ================================================== */



/* Footer General */

#footer {
    padding:25px 0;
    background: #363f48;
}

/* Footer Text on Left */

#footer p {
    font-size:15px;
    float: left;
    color: #ffffff;
}

/* Footer Social Icon on Right Generals */

#footer .social {
    padding-top:5px;
    font-size:42px;
}

/* Footer Social Icon  */

#footer i {
    padding: 20px 5px;
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -ms-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;}

/* Footer Social Icon on Hover */

#footer i:hover {
    color:#FFF;
}



/* 07. MEDIA QUERIES FOR MOBILE SETTINGS ================================================== */



/* Styling for mobile devices */

@media screen and (max-width: 600px) {

    #header {min-height: 500px;}

    #header h2 {font-size:1.5em}

    #header .button {font-size:14px;}

    .cbp-so-side h3 {font-size:1.5em;}

    .cbp-so-side {text-align: center; padding: 2% 0;}

    #signup h2 {font-size:1.5em;}

    #signup form {overflow: hidden;}

    #signup input {border-radius: 0px;}

    #signup .submit {width:100%;}

    #signup .spam {padding-top:50px;}

    #footer p {text-align: center; padding:10px 0;}

    #footer .social {text-align: center;}

}




/* 08. MEDIA QUERIES FOR TABLET SETTINGS ================================================== */



@media only screen
and (min-device-width : 768px)
and (max-device-width : 1024px)
and (-webkit-min-device-pixel-ratio: 1)  {

    .fade1 .fade2 .fade3 .fade4
    {margin-left:20px;}

    #header {min-height: 600px;}

    #header h2 {font-size:2em;}

    #header .button {font-size:16px;}

    .cbp-so-side h3 {font-size:1.5em;}

    .cbp-so-side-right { text-align: left;}

    .cbp-so-side-left {text-align: left;}

    #signup h2 {font-size:2em;}

    #signup form {overflow: hidden;}

    #signup input {border-radius: 0px;}

    #signup .submit {width:100%;}

    #signup .spam {padding-top:50px;}

    #footer p {text-align: left; padding:10px 0;}

    #footer .social {text-align: center;}

}
