<footer class="footer">
  <section id="footer">

    <div class="row">

      <!-- Text from left -->

      <div class="twelve columns pull_left">

        <p><font color="white">Questions about an order? Contact us at </font><a href="mailto:support@kvanainc.com">support@kvanainc.com</a>.</p>

        <p><font color="white">Interested in becoming a Kvana Server?</font> <a href="https://docs.google.com/forms/d/1zgEo4Dd9NhMm66sMfNJgn63cOEbpCdiauScL300A0qw/viewform">Apply here!</a>
        <p><font color="white">© 2014 Kvana | <a href="http://jobs.lever.co/kvanainc">careers</a> | <a href="http://www.twitter.com/eatsprig">twitter</a> | <a href="http://www.facebook.com/eatsprig">facebook</a> | <a href="http://www.eatsprig.com/privacy.html">privacy policy</a> | </font><a href="http://www.eatsprig.com/terms.html">terms of use</a></p>

      </div>

    </div>

  </section>
</footer>